{% comment %}
Created by Backroom app. You can safely modify this file.
{% endcomment %}

<div style="margin-top: 150px;">
  <center>
    <h2>This page has been hidden</h2>
    <p>Please use the secret URL or ask the site admin for access.</p>
  </center>
</div>

<!-- These two lines disallow search engine indexing: -->
<meta name="robots" content="noindex">
<meta name="googlebot" content="noindex">