<!-- /snippets/onboarding-product-clip.liquid -->

{% comment %}
  *  Used only in theme editor to demonstrate upsell state
{% endcomment %}


<div class="product-clip">
  <div class="product-clip__image">
    <div class="product-clip__image__inner" style="background-color: var(--bg-accent);"></div>
  </div>

  <div class="product-clip__content">

    <h3 class="product-clip__title">{{ 'products.general.upsell_error_title' | t }}</h3>
    <p class="body-size-3">{{ 'products.general.upsell_error_info' | t }}</p>

  </div>
</div>
