<!-- /snippets/product-quantity.liquid -->

<div class="product__block__quantity" style="--PB: {{ block.settings.padding_bottom }}px;" {{ block.shopify_attributes }}>
  {%- if block.settings.show_quantity -%}
    <div class="quantity__wrapper" data-quantity-selector>
      <button class="quantity__button quantity__button--minus" data-decrease-quantity type="button">&minus;</button>
      <input data-quantity-input
        aria-label="{{ 'cart.label.quantity' | t }}"
        class="quantity__input"
        type="number"
        min="1"
        name="quantity"
        form="{{ uniq_id }}"
        value="1"/>
      <button class="quantity__button quantity__button--plus" data-increase-quantity type="button">+</button>
    </div>
  {%- endif -%}
</div>
