<div data-api-content>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    {%- for upsell_product in recommendations.products -%}
      {% render 'product-clip' card_product: upsell_product %}
    {%- endfor -%}
  {%- endif -%}
</div>