<!-- /sections/section-html.liquid -->
<div class="section-html"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="{{ section.settings.width }} section-padding">
    {{ section.settings.html }}
  </div>
</div>

{% schema %}
{
  "name": "Custom HTML",
  "settings": [
    {
      "type": "liquid",
      "id": "html",
      "label": "Custom HTML",
      "default": "<div style='text-align: center; padding: 90px 0;'><h2 class='kicker-flourished'>Custom HTML</h2><p>Add your custom HTML here.</p></div>"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" },
        { "value": "wrapper--tiny", "label": "Page width extra narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Custom HTML"
    }
  ],
  "disabled_on": {
    "groups": ["header","footer","aside"]
  }
}
{% endschema %}
